<html>
  <head>
    <title>Login</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../lib/bootstrap/bootstrap.min.css">
    <script src="../lib/bootstrap/bootstrap.bundle.js"></script>
    <script src="./index.js" defer></script>
  </head>
  <body>
    <div id="background" class="bg-white h-100 d-flex flex-column flex-nowrap align-items-center justify-content-center">
      <form 
        autocomplete="off"
        method="post"
        id="login-form" 
        class="bg-white d-flex flex-column flex-nowrap align-items-center gap-3 p-4 border border-0 border-1 rounded-2 col-12 col-sm-8 col-md-6 col-lg-4">
      
        <h1 class="fw-bold fs-1 w-auto my-4 mx-auto">Login</h1>

        <div  class="d-flex flex-column align-items-center flex-nowrap gap-2 w-100 ">
          <input autocomplete="off" required type="email" name="email" placeholder="Email" class="input-email w-75 border border-gray rounded-1 py-1 px-2" />
          <input autocomplete="off" required type="senha" name="password" placeholder="Password" class="input-password w-75 border border-gray rounded-1 py-1 px-2" />
        </div>

        <button type="submit" class="btn btn-primary my-2">Login</button>

        <div class="redirect w-100 d-flex flex-row align-items-center justify-content-center gap-1">
          <span>Ir para a tela de</span>
          <a href="../cadastro" class="link-underline-primary text-primary">cadastro</a>
          .
        </div>
      </form>
    </div>
  </body>
</html>
